@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    height: 100px;
}

.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner .content {
    position: relative;
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
    z-index: 1;
}

.banner video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}


.banner .content h1 {
    margin: 0;
    padding: 0;
    font-size: 5.5em;
    text-transform: uppercase;
    color: azure;
}

.banner .content p {
    font-size: 2em;
    color: azure;
}